{% extends "base.html" %}
{% block title %}Recherche{% endblock %}
{% block css %}
{% load static %}
<style type="text/css">
    header {
        margin:0;
        padding:0;
        background-image: url({% static 'img/background.jpg' %});
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */ }
</style>
{% endblock %}
{% block header %}
<div class="container-fluid">

    <div class="row">

        <div class="col-0 col-md-1">

        </div>
        <div class="col-0 col-md-10">

            <h1 class="p-2 mt-5 mb-3 index">Du gras, oui, mais de qualité ! </h1>
            <h2 class="p-2 mb-4 index">Trouvez un produit de substitution
                pour ceux que vous consommez
                tous les jours.</h2>

        </div>
        <div class="col-0 col-md-1">

        </div>

    </div>

    <div class="row">

        <div class="col-0 col-md-2">

        </div>
        <div class="col-10 col-md-8">

            {% load crispy_forms_tags %}

            <form action="{% url 'results' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input class="form-control col-9" name="product-name" type="text" placeholder="Produit">
                <button class="btn btn-danger col-3" type="submit" value="research">Rechercher</button>
            </form>

        </div>

        <div class="col-0 col-md-2"></div>

    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid" id="history">

    <div class="row text-center">

        <h2 class="col-12 pt-5 pb-2">Colette et Remy</h2>

        <div class="col-12 p-4">

            Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !).
            Travaillant quotidiennement avec les meilleurs produits du terroir,
            ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.

        </div>

        <div class="col-6">

            {% load static %}
            <img src="{% static 'img/colette.png' %}" class="img-fluid img-history" alt="Responsive image">

            <h3 class="p-1">Colette</h3>

        </div>

        <div class="col-6">

            {% load static %}
            <img src="{% static 'img/remy.jpg' %}" class="img-fluid img-history" alt="Responsive image">

            <h3 class="p-1">Remy</h3>

        </div>

    </div>

</section>

<section class="container-fluid" id="contact">

    <div class="row text-center">

        <h2 class="contact col-12 p-5">Contactez-nous</h2>

        <div class="col-6 p-5">

            <img src="{% static 'img/phone.png' %}" class="img-fluid img-contact" alt="Responsive image">

            <h3 class="contact p-1">+33(4)55088055</h3>

        </div>

        <div class="col-6 p-5">

            <img src="{% static 'img/mail.png' %}" class="img-fluid img-contact" alt="Responsive image">

            <h3 class="contact p-1">contact@purbeurre.com</h3>

        </div>

    </div>

</section>
{% endblock %}