{% extends "base.html" %}
{% block title %}Produit{% endblock %}
{% block css %}
<style type="text/css">

    {% if error %}
        {% load static %}
        header {
            background-image: url({% static 'img/background.jpg' %});
            background-repeat: no-repeat;
            height: 225px;
        }
    {% else %}
        header {
            background-image: url({{ product.product_image_url }});
            background-repeat: no-repeat;
            height: 225px;
        }
    {% endif %}
</style>
{% endblock %}

{% block header %}
<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="mt-5 p-2 search">{% if error %}{{error}}{% else %}{{ product.product_name }}{% endif %}</h2>
        </div>
        <div class="col-0 col-md-3"></div>
    </div>

</div>
{% endblock %}

{% block content %}
<section class="container-fluid">

    <div class="row text-center">

        {% if error %}
            <div class="col-12 p-5 text-center">
                {{error_messages}}
            </div>
        {% else %}

            <div class="col-12 col-md-5 p-2">

                {% load static %}

                <div class="col-12 p-2">
                    <img src="{% static 'img/nutriscores/nutriscore_'|add:product.product_nutriscore|add:'.png' %}" class="img-fluid img-nutriscore" alt="">
                </div>

            </div>

            <div class="col-12 col-md-7 p-2">

                <h4>Repères nutritionnels pour 100g :</h2>

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Kcal</th>
                        <th scope="col">Kj</th>
                        <th scope="col">Sucre</th>
                        <th scope="col">Sel</th>
                        <th scope="col">Lipides</th>
                        <th scope="col">Acides gras</th>
                        <th scope="col">nova</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ product.product_kcal }}</td>
                            <td>{{ product.product_kj }}</td>
                            <td>{{ product.product_sugar }}</td>

                            <td>{{ product.product_salt }}</td>
                            <td>{{ product.product_fat }}</td>
                            <td>{{ product.product_saturated_fat }}</td>
                            <td>{{ product.product_nova }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-12 p-2">
                {% for category in categories %}

                <span class="badge badge-pill badge-dark">{{ category }}</span>

                {% endfor %}
            </div>
            <div class="col-12 text-center p-4">
                <a href="{{ product.product_url }}">
                    <button class="btn btn-warning">Voir la fiche d'OpenFoodFacts</button>
                </a>
            </div>

        {% endif %}

    </div>

</section>
{% endblock %}