{% extends "base.html" %}
{% block title %}Résultats{% endblock %}
{% block css %}
{% load static %}
<style type="text/css">
    header {
        margin:0;
        padding:0;
        background-image: url({% static 'img/background.jpg' %});
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */ }
</style>
{% endblock %}
{% block header %}
<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="mt-5 p-2 search">{{ product.product_name }}</h2>
        </div>
        <div class="col-0 col-md-3"></div>
    </div>

</div>
{% endblock %}

{% block content %}

{% if products %}
    <section class="container-fluid">

        <div class="row text-center">
            <div class="col-12 pt-4 pb-2">
                <h2>Vous pouvez remplacer cet aliment par :</h2>
            </div>
        </div>

    </section>
{% endif %}

<section class="container-fluid">

    <div class="row p-2">

        {% if products %}

            {% for product in products %}

                <div class="col-12 col-md-4 thumbnail text-center p-4">

                    <div class="nutriscores nutriscore-{{ product.product_nutriscore }} rounded-circle">
                        {{ product.product_nutriscore }}
                    </div>

                    {% load static %}
                    <a href="{% url 'product' product.id %}">
                        <img src="{{ product.product_image_url }}" class="img-fluid img-thumbnail" alt="">
                    </a>
                    <h2 class="p-2">{{ product.product_name }}</h2>

                    {% load static %}

                    <a href="{% url 'add_favorite' product.id %}" class="btn btn-outline-warning active" role="button" aria-pressed="true">
                        <img src="{% static 'img/save.png' %}" width="15" height="15" class="mr-1" alt="">
                        Sauvegarder
                    </a>

                </div>
            {% endfor %}

            {% else %}

                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-4 text-center p-4">
                    <h2> Oups ! Il n'y a pas de produit de substitution pour ce produit.</h2>
                </div>
                <div class="col-12 col-md-4"></div>

        {% endif %}

    </div>

</section>

{% if products %}

    <section class="container-fluid">

        <div class="row p-2">
            <div>
                {% if products.has_previous %}
                    <a class="btn btn-outline-secondary" href="?page=1&name={{ product_name }}">&laquo; first</a>
                    <a class="btn btn-dark" href="?page={{ products.previous_page_number }}&name={{ product_name }}">previous</a>
                {% endif %}

                <span class="p-2">
                    Page {{ products.number }} sur {{ products.paginator.num_pages }}
                </span>

                {% if products.has_next %}
                    <a class="btn btn-dark" href="?page={{ products.next_page_number }}&name={{ product_name }}">next</a>
                    <a class="btn btn-outline-secondary" href="?page={{ products.paginator.num_pages }}&name={{ product_name }}">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}