{% extends "substitutes/base.html" %}
{% block title %}Produit{% endblock %}
{% block header %}
<div class="container-fluid">

    <div class="row">
        <div class="col-0 col-md-3"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="mt-5 p-2 search">{% if error %}{{error}}{% else %}{{ product.name }}{% endif %}</h2>
        </div>
        <div class="col-0 col-md-3"></div>
    </div>

</div>
{% endblock %}

{% block content %}

<section class="container-fluid" id="product-intro">

    <div class="row text-center p-5">

        <div class="col-0 col-md-2"></div>

        <div class="col-12 col-md-4">

            <img src="{{ product.image }}" class="roundedImage" alt="">

        </div>

        <div class="col-12 col-md-4 sheet">

            <h2 class="col-12 p-0 m-0 name">{{ product.name }}</h2>
            <h3 class="col-12 p-0 m-0 brand">{{ product.brands }}</h2>

            {% load static %}
            <div class="col-12 p-0 mt-4">
                <a href="http://www.mangerbouger.fr/Manger-Mieux/Comment-manger-mieux/Comprendre-les-infos-nutritionnelles2/Le-Nutri-Score-l-information-nutritionnelle-en-un-coup-d-oeil?xtor=SEC-33-GOO-[Nutriscore]--S-[nutriscore]&gclid=Cj0KCQjw4qvlBRDiARIsAHme6ovz-0icwtqwfomod9620h_VV4KjOibGtUeQZOlDFoqtVAgOTUu97ZcaAqCFEALw_wcB">
                    <img src="{% static 'img/nutriscores/nutriscore_'|add:product.nutriscore|add:'.png' %}" class="nutriscore" alt="">
                </a>
            </div>

            <div class="col-12 pl-0 pt-4">
                <a href="{{ product.url }}">
                    <button class="btn btn-warning">Voir la fiche d'OpenFoodFacts</button>
                </a>
            </div>

        </div>

        <div class="col-0 col-md-2"></div>

    </div>

</section>

<section class="container-fluid" id="product-nutriments">

    <div class="row text-center p-5">

        <div class="col-0 col-md-2"></div>

        <div class="col-12 col-md-8 p-0">

            <h2 class="col-12 pb-4">Valeurs nutritionnelles</h3>

            {% load dict_tags %}

            <div class="row">
                <div class="col-1">
                    <!--
                    <img src="{% static 'substitutes/img/nutriscores/nutriscore_'|add:product.nutriscore|add:'.png' %}" class="img-fluid">
                    -->
                    <img src="{% static 'substitutes/img/nutriscores/nutriscore_1.png' %}" class="img-fluid">
                    <p>{{ product.nutriscore }}</p>
                    <p>{{ averages.nutriscore }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/.png' %}" class="img-fluid">
                    <p>{{ ingredients_nbr }}</p>
                    <p>{{ averages.ingredients }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/salt.png' %}" class="img-fluid">
                    <p>{{ nutriments.salt }}</p>
                    <p>{{ averages.salt }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/saturated-fat.png' %}" class="img-fluid">
                    <p>{{ nutriments.saturated_fat }}</p>
                    <p>{{ averages.saturated_fat }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/salt.png' %}" class="img-fluid">
                    <p>{{ nutriments.sodium }}</p>
                    <p>{{ averages.sodium }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/kcal.png' %}" class="img-fluid">
                    <p>{{ nutriments.energy_kcal }}</p>
                    <p>{{ averages.energy_kcal }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/kcal.png' %}" class="img-fluid">
                    <p>{{ nutriments.energy_kj }}</p>
                    <p>{{ averages.energy_kj }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/fiber.png' %}" class="img-fluid">
                    <p>{{ nutriments.fiber }}</p>
                    <p>{{ averages.fiber }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/sugar.png' %}" class="img-fluid">
                    <p>{{ nutriments.sugars }}</p>
                    <p>{{ averages.sugars }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/protein.png' %}" class="img-fluid">
                    <p>{{ nutriments.proteins }}</p>
                    <p>{{ averages.proteins }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/carbohydrates.png' %}" class="img-fluid">
                    <p>{{ nutriments.carbohydrates }}</p>
                    <p>{{ averages.carbohydrates }}</p>
                </div>
                <div class="col-1">
                    <img src="{% static 'substitutes/img/nutriments/fat.png' %}" class="img-fluid">
                    <p>{{ nutriments.fat }}</p>
                    <p>{{ averages.fat }}</p>
                </div>
            </div>



        </div>

        <div class="col-0 col-md-2"></div>

    </div>

</section>


<section class="container-fluid" id="product-ingredients">

    <div class="row text-center p-5">

        <div class="col-0 col-md-2"></div>

        <div class="col-12 col-md-8 p-0">

            <h2 class="col-12 pb-4">Ingrédients</h3>

            {% for ingredient in ingredients %}

                <button type="button" class="btn btn-dark m-1">
                    {{ ingredient.text }} <span class="badge badge-light">{{ ingredient.percent }} %</span>
                </button>

            {% endfor %}

        </div>

        <div class="col-0 col-md-2"></div>

    </div>

</section>

<section class="container-fluid" id="product-ingredients">

    <div class="row text-center p-5">

        <div class="col-0 col-md-2"></div>

        <div class="col-12 col-md-8 p-0">

            <h2 class="col-12 pb-4">Ou acheter ce produit ?</h3>

            <h2>{{ product.stores }}</h2>

        </div>

        <div class="col-0 col-md-2"></div>

    </div>

</section>

<script>

    $(function () {
    $('[data-toggle="popover"]').popover({html:true})
    })

</script>
{% endblock %}